<div class="about-us">
  <div class="col-xl-6 col-lg-6 float-left">
    <div class="abt-img"><%= image_tag("room.jpg", class: "img-fluid") %>
      <div class="blob play-btn transform-center"><a href="" class="popup-video"> <i class="fas fa-play"></i></a>
      </div>
    </div>
  </div>

  <div class="col-xl-6 col-lg-6 float-left">
    <div class="about-content">
    <h2>"Instant laundry solutions, at your doorstep!"</h2> 
      <p>Zaiyna Laundry is an ambitious project that was launched into the UAE market in 2015, operating with a customer-centric approach in laundry 
        solutions that caters to the modern man. What sets Zaiyna apart is it’s innovative solutions armed with digital media, which conveniently 
        assist our busy lifestyles from requesting a pick up to delivery- all within a few clicks.
      <br><br>
        Equipped with sprawling state-of-art technologies for Washing, Drying, Ironing, Dry Cleaning Starching in our Laundromat, the management 
        at Zaiyna recognizes the criticality of obtaining a hassle-free laundry delivered efficiently and promptly. Having established our service locations in the key residential spots of Dubai, we ensure that our 
        pick-ups and deliveries are prompt and up to your expectations. 
      </p>
     </div> 
  </div>
  <div class="col-xl-12 col-lg-12 float-left mt-3">
    <div class="about-content slideanim">
      <p class="mb-5 float-left">
       We owe our consistent march towards progress, to our exceptionally reliable in-house experts, each specialized in their own domain to 
       tackle every requirement, brought forth to us.  Our staffs are no strangers to complicated requests, challenging scenarios and time-bound 
       requirements, and we demonstrate our unmatched results of reliability and excellence year after year. 
      </p> 
    </div>

    <div class="about-content slideanim"><h3>Not just any laundry</h3>
      <div class="col-xl-12 col-lg-12 pl-0">
        <p>“Convenience” being our slogan, we fail to disappoint the modern man and his requirements. When it comes to fabrics, our impeccable experts
           are well adept at handling all textures and cloth materials.  Our state-of-the-art processes and machines for the washing & cleaning are proven
            from seeing your fabric in pristine condition always. <br><br>

          Keeping environment friendliness in mind, we ensure that the products we use doesn’t adversely effect the human skin nor the environment. 
          We keep tabs on the water consumption levels and ensure that the gentlest materials are used for your delicate fabrics. </p>
      </div> 
    </div>

    <div class="img-conainer about-content slideanim"><h3 class="text-center w-100">Satisfaction Guaranteed</h3>
      <div class="row">
        <div class="col-xl-4 col-lg-4 mt-5">
          <h4>Timely Turnaround</h4> 
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla eu efficitur turpis. Integer ultrices hendrerit purus a dapibus. Fusce laoreet
              enim in justo pulvinar, efficitur fermentum tortor commodo.</p>
          <p></p>
        </div>

        <div class="col-xl-4 col-lg-4 mt-5">
          <h4>Low Prices, High Quality</h4> 
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla eu efficitur turpis. Integer ultrices hendrerit purus a dapibus. Fusce laoreet
             enim in justo pulvinar, efficitur fermentum tortor commodo.</p>
          <p></p>
        </div>

        <div class="col-xl-4 col-lg-4 mt-5">
          <h4>Money Back Guarantee</h4> 
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla eu efficitur turpis. Integer ultrices hendrerit purus a dapibus. Fusce laoreet
          enim in justo pulvinar, efficitur fermentum tortor commodo.</p>
          <p></p>
        </div>
      </div>
    </div>

  </div>
</div>

<div class="full_width_container slideanim">
  <div class="col-xl-6 col-lg-6 float-left pl-0"><%= image_tag("room2.jpg", class: "img-fluid") %></div>  
  <div class="col-xl-6 col-lg-6 float-left">
    <div class="offer-tag text-center w-100 float-left">
      <h3>10% Off Your First Suite Pressing</h3>
      <p>Quisque velit nisi, pretium ut lacinia in, elementum id enim. Vestibulum ac diam sit amet quam vehicula elementum sed sit amet dui.
         Curabitur non nulla sit amet nisl tempus convallis quis ac lectus.</p>
         <a href="#">Get this deal</a>
    </div>   
  </div>  
</div>