<div class="container">

  <div class="booking-section">
    <div class="pagination-top mb-4">
      <div class="pagination-count">1</div>
      <div class="pagination-count">2</div>
      <div class="pagination-count">3</div>
      <div class="pagination-count C_active">4</div>
      <h3 class="pagination-head">Services</h3>
    </div>  

    <div class="contact-page w-100 float-left slideanim">
      <div class="row">
        <div class="col-lg-8 col-xl-8">
          <div class="section-left mb-4">
            <h4>How can we contact you?</h4>
            <p>We need your personal information in order to keep you updated about your order.</p>

            <form>
              <div class="row">
                <div class=" col-lg-6 col-xl-6 mb-3">
                  <label for="exampleInputEmail1" class="form-label">First Name</label>
                  <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                </div>
                <div class=" col-lg-6 col-xl-6 mb-3">
                  <label for="exampleInputEmail1" class="form-label">Last Name</label>
                  <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                </div>

                <div class=" col-lg-6 col-xl-6 mb-3">
                  <div class="row">
                    <div class="col-4 col-lg-4">
                      <label for="exampleInputEmail1" class="form-label">Phone</label>
                      <select class="form-select form-control" aria-label="Default select example">
                        <option selected>+971</option>
                      </select>
                    </div>
                    <div class="col-8 col-lg-8">
                      <label for="exampleInputEmail1" class="form-label">&nbsp;</label>
                      <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                      </select>
                    </div>
                  </div>
                    </div>

                    <div class=" col-lg-6 col-xl-6 mb-3">
                    <label for="exampleInputEmail1" class="form-label">Email</label>
                    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                </div>

              </div>
            </form>
            </div> 

          <div class="section-left">
          <h4>Enter your payment</h4>
          <p>We will authorise your card with a pre-payment of AED80.</p>
          <form>
          <div class="row">
          <div class=" col-lg-12 col-xl-12 mb-3">
          <label for="exampleInputEmail1" class="form-label">Card number</label>
          <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
          </div>
          <div class=" col-lg-6 col-xl-6 mb-3">
          <label for="exampleInputEmail1" class="form-label">Expiry date</label>
          <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
          </div>

          <div class=" col-lg-6 col-xl-6 mb-3">
          <label for="exampleInputEmail1" class="form-label">CVC</label>
          <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
          </div>
          </div>
          </form>
          </div>
          </div>


          <div class="col-lg-4 col-xl-4">
          <div class="section-right">
          <h4 class="mb-3">Your summary</h4>  
          <div class="booking-summary S-active">
          <span><i class="fas fa-check"></i></span><h3 class="summary-heading">Address</h3>
          <p>Jogging Path - Al Barsha - Dubai - United Arab Emirates</p>
          </div>
          <div class="booking-summary S-active">
          <span><i class="fas fa-check"></i></span><h3 class="summary-heading">Collection</h3>  
          <p>Today, 14:00 - 17:00</p>
          </div>
          <div class="booking-summary S-active">
          <span><i class="fas fa-check"></i></span><h3 class="summary-heading">Delivery</h3>
          <p>Tomorrow, 14:00 - 17:00</p>
          </div>
          <div class="booking-summary S-active">
          <span><i class="fas fa-check"></i></span><h3 class="summary-heading">Services</h3>
          <p>Wash&fold, Curtain cleaning</p>
          </div>
          <div class="booking-summary S-active">
          <span><i class="fas fa-check"></i></span><h3 class="summary-heading">Contact Details</h3>
          <p>&nbsp;</p>
          </div>
          <div class="booking-summary">
          <span><i class="fas fa-check"></i></span><h3 class="summary-heading">Payment</h3>
          </div>


          </div>
          <div class="gift-card w-100 float-left">
          <p>Apply gift card or code</p>
          <button class="add-btn">Apply</button>
          </div>
          <button type="button" class="btn-next">Confirm order</button>
          <div class="privacy-policy">
          <p>By continuing you agree to our <a href="#"> Terms & Conditions</a> and <a href="#"> Privacy Policy.</a>
          We will authorise your card with a pre-payment of AED80.</p>
          </div>
          </div>
      </div> 
    </div>

</div></div>