<div class="container">
  <div class="booking-section">
    <div class="pagination-top mb-4">
      <div class="pagination-count">1</div>
      <div class="pagination-count">2</div>
      <div class="pagination-count C_active">3</div>
      <div class="pagination-count">4</div>
      <h3 class="pagination-head">Services</h3>
    </div>  

    <div class="service-booking w-100 float-left slideanim">
      <div class="row">
        <div class="col-lg-8 col-xl-8">
          <div class="section-left">
            <div class="col-lg-3 col-xl-3 col-6 text-center Service float-left">
              <div class="icon-otr"><img src="img/icons/wash-fold.png"></div>
              <h3>Wash & fold</h3>
              <button type="button" class="add-btn B-active">Cancel</button>
            </div>

            <div class="col-lg-3 col-xl-3 col-6 text-center Service float-left">
              <div class="icon-otr"><img src="img/icons/wash-press.png"></div>
              <h3>Wash & press</h3>
              <button type="button" class="add-btn">Add</button>
            </div>

            <div class="col-lg-3 col-xl-3 col-6 text-center Service float-left">
              <div class="icon-otr"><img src="img/icons/press.png"></div>
              <h3>Press only</h3>
              <button type="button" class="add-btn">Add</button>
            </div>

            <div class="col-lg-3 col-xl-3 col-6 text-center Service float-left">
              <div class="icon-otr"><img src="img/icons/dress.png"></div>
              <h3>Clean & press</h3>
              <button type="button" class="add-btn">Add</button>
            </div>

            <div class="col-lg-3 col-xl-3 col-6 text-center Service float-left">
              <div class="icon-otr"><img src="img/icons/wash-press.png"></div>
              <h3>Sofa cleaning</h3>
              <button type="button" class="add-btn">Add</button>
              </div>

            <div class="col-lg-3 col-xl-3 col-6 text-center Service float-left">
              <div class="icon-otr"><img src="img/icons/press.png"></div>
              <h3>Curtain cleaning</h3>
              <button type="button" class="add-btn B-active">Cancel</button>
            </div>

            <div class="col-lg-3 col-xl-3 col-6 text-center Service float-left">
              <div class="icon-otr"><img src="img/icons/dress.png"></div>
              <h3>Carpet cleaning</h3>
              <button type="button" class="add-btn">Add</button>
            </div>
          </div> 
        </div>
        <div class="col-lg-4 col-xl-4">
          <div class="section-right">
            <h4 class="mb-3">Your summary</h4>  
            <div class="booking-summary S-active">
              <span><i class="fas fa-check"></i></span><h3 class="summary-heading">Address</h3>
              <p>Jogging Path - Al Barsha - Dubai - United Arab Emirates</p>
            </div>
            <div class="booking-summary S-active">
              <span><i class="fas fa-check"></i></span><h3 class="summary-heading">Collection</h3>  
              <p>Today, 14:00 - 17:00</p>
            </div>
            <div class="booking-summary S-active">
              <span><i class="fas fa-check"></i></span><h3 class="summary-heading">Delivery</h3>
              <p>Tomorrow, 14:00 - 17:00</p>
            </div>
            <div class="booking-summary S-active">
              <span><i class="fas fa-check"></i></span><h3 class="summary-heading">Services</h3>
              <p>Wash&fold, Curtain cleaning</p>
            </div>
            <div class="booking-summary">
              <span><i class="fas fa-check"></i></span><h3 class="summary-heading">Contact Details</h3>
            </div>
            <div class="booking-summary">
              <span><i class="fas fa-check"></i></span><h3 class="summary-heading">Payment</h3>
            </div>
          </div>
          <button type="button" class="btn-next">Next</button>
        </div>
      </div> 
    </div>
  </div>
</div>