<div class="container">
  <div class="booking-section">
    <div class="pagination-top mb-4">
        <div class="pagination-count">1</div>
        <div class="pagination-count C_active">2</div>
        <div class="pagination-count">3</div>
        <div class="pagination-count">4</div>
        <h3 class="pagination-head">Collection & Delivery</h3>
    </div>        
    <div class="row slideanim">
      <div class=" col-lg-8 col-xl-8">
        <div class="section-left">
          <div class="collection-section w-100 float-left">
            <img src="img/icons/delivery-car.png" alt="" class="pickup"><h4>Collection</h4>
            <div class="row">
              <div class="col-lg-4">
                <select class="form-select form-select-lg mb-3 mt-3 form-control" aria-label=".form-select-lg example">
                  <option selected>Today</option>
                  <option value="1">Tomorrow</option>
                  <option value="2">Mon, 14 Dec</option>
                  <option value="3">Tue, 15 Dec</option>
                </select>
              </div>

              <div class="col-lg-4">
                <select class="form-select form-select-lg mb-3 mt-3 form-control" aria-label=".form-select-lg example">
                  <option selected>14:00 - 17:00</option>
                  <option value="1">17:00 - 20:00</option>
                </select>
              </div>

              <div class="col-lg-8">
                <select class="form-select form-select-lg mb-3 mt-3 form-control" aria-label=".form-select-lg example">
                  <option selected>Collects from you</option>
                  <option value="1">Collects from outside</option>
                  <option value="1">Collects from reception</option>
                </select>
              </div>
            </div>

            <img src="img/icons/delivery.png" alt="" class="pickup"><h4>Delivery</h4>
            <div class="row">
              <div class="col-lg-4">
                <select class="form-select form-select-lg mb-3 mt-3 form-control" aria-label=".form-select-lg example">
                  <option selected>Today</option>
                  <option value="1">Tomorrow</option>
                  <option value="2">Mon, 14 Dec</option>
                  <option value="3">Tue, 15 Dec</option>
                </select>
              </div>

              <div class="col-lg-4">
                <select class="form-select form-select-lg mb-3 mt-3 form-control" aria-label=".form-select-lg example">
                  <option selected>14:00 - 17:00</option>
                  <option value="1">17:00 - 20:00</option>
                </select>
              </div>

              <div class="col-lg-8">
                <select class="form-select form-select-lg mb-3 mt-3 form-control" aria-label=".form-select-lg example">
                  <option selected>Collects from you</option>
                  <option value="1">Collects from outside</option>
                  <option value="1">Collects from reception</option>
                </select>
              </div>
            </div>
            <div class="row">
              <div class="form-floating col-lg-8 mt-3">
                <label for="floatingTextarea">Collection or delivery instructions (optional)</label>
                <textarea class="form-control" placeholder="Add any special instructions for the driver" id="floatingTextarea"></textarea>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-xl-4">
        <div class="section-right">
          <h4 class="mb-3">Your summary</h4>  
          <div class="booking-summary S-active">
            <span><i class="fas fa-check"></i></span><h3 class="summary-heading">Address</h3>
            <p>Jogging Path - Al Barsha - Dubai - United Arab Emirates</p>
          </div>
          <div class="booking-summary S-active">
            <span><i class="fas fa-check"></i></span><h3 class="summary-heading">Collection</h3>
            <p>Today, 14:00 - 17:00</p>
          </div>
          <div class="booking-summary S-active">
            <span><i class="fas fa-check"></i></span><h3 class="summary-heading">Delivery</h3>
            <p>Tomorrow, 14:00 - 17:00</p>
          </div>
          <div class="booking-summary">
            <span><i class="fas fa-check"></i></span><h3 class="summary-heading">Services</h3>
          </div>
          <div class="booking-summary">
            <span><i class="fas fa-check"></i></span><h3 class="summary-heading">Contact Details</h3>
          </div>
          <div class="booking-summary">
            <span><i class="fas fa-check"></i></span><h3 class="summary-heading">Payment</h3>
          </div>
        </div>
        <button type="button" class="btn-next">Next</button>
      </div>
    </div> 
  </div>
</div>
