<div class="container">

   <div class="booking-section">
    <div class="pagination-top mb-4">
        <div class="pagination-count C_active">1</div>
        <div class="pagination-count">2</div>
        <div class="pagination-count">3</div>
        <div class="pagination-count">4</div>
        <h3 class="pagination-head">Address</h3>
    </div>  
    
    <div class="row slideanim">
        <div class=" col-lg-8 col-xl-8">
            <div class="section-left">
                <h4 class="heading-left">Tell us about your location</h4>
                <form>
                    <div class="mb-3 mt-3">
                        <label for="exampleInputEmail1" class="form-label">Email address</label>
                        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                        <a href="#" class="mt-3">Find address on map <i class="fas fa-arrow-right"></i></a>
                      </div>

                      <div class="mb-3 mt-3">
                        <label for="exampleInputEmail1" class="form-label">Please specify any extra address details</label>
                        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                       
                      </div>
                      <h4 class="heading-left mb-3">Address type</h4>
                      <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1" checked>
                        <label class="form-check-label" for="inlineRadio1">Home</label>
                      </div>
                      <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2">
                        <label class="form-check-label" for="inlineRadio2">Office</label>
                      </div>
                      <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio3" value="option3">
                        <label class="form-check-label" for="inlineRadio3">Hotel</label>
                      </div>

                </form>
            </div>
        </div>

        <div class="col-lg-4 col-xl-4">
            <div class="section-right">
                <h4 class="mb-3">Your summary</h4>  
                <div class="booking-summary S-active">
                    <span><i class="fas fa-check"></i></span><h3 class="summary-heading">Address</h3>
                    <p>Jogging Path - Al Barsha - Dubai - United Arab Emirates</p>
                </div>
                <div class="booking-summary">
                    <span><i class="fas fa-check"></i></span><h3 class="summary-heading">Collection</h3>  
                </div>
                <div class="booking-summary">
                    <span><i class="fas fa-check"></i></span><h3 class="summary-heading">Delivery</h3>
                </div>
                <div class="booking-summary">
                    <span><i class="fas fa-check"></i></span><h3 class="summary-heading">Services</h3>
                </div>
                <div class="booking-summary">
                    <span><i class="fas fa-check"></i></span><h3 class="summary-heading">Contact Details</h3>
                </div>
                <div class="booking-summary">
                    <span><i class="fas fa-check"></i></span><h3 class="summary-heading">Payment</h3>
                </div>
               
            </div> <button type="button" class="btn-next">Next</button>
        </div>
    </div>
   </div> 

</div>
