<div class="contact-page">
  <h2 class="slideanim">Get in touch</h2> 
  <p class="w-100 float-left mb-5 slideanim">We would also love to hear from you. Ask us anything and our customer center<br>representative will respond to you at the earliest
  </p> 
  <div class="row slideanim">
    <div class="col-xl-6 col-lg-6 float-left">
      <form>
        <div class="form-row">
          <div class="col">
            <input type="text" class="form-control" placeholder="Name">
          </div>
          <div class="col">
            <input type="email" class="form-control" placeholder="Email">
          </div>
        </div>

        <div class="form-row">
          <div class="col">
            <textarea class="form-control" placeholder="Message" rows="5"></textarea>
          </div>
        </div>
        <button type="button" class="btn send-btn">Send</button>
      </form>   
    </div>

    <div class="col-xl-6 col-lg-6 float-left">
      <div class="connect-us">
        <div class="w-100 float-left mb-1">
          <span><i class="fas fa-phone"></i></span> <h5>Call me</h5><p>Toll Free: 800 9274, Mobile: 052 135 7033, Phone: 045571060 </p>
        </div>
        <div class="w-100 float-left mb-1">
          <span><i class="fas fa-envelope"></i></span> <h5>Mail me</h5><p>Email: info@zaiyna.ae</p>
        </div>
        <div class="w-100 float-left mb-1">
          <span><i class="fas fa-map-marked-alt"></i></span> <h5>Visit me</h5><p>Zaiyna Laundry & Dry Cleaning <br>
              Shop No 3, Concourse Level 
              Armada Tower 3, Cluster P <br>
              JLT - Jumeirah Lakes Tower <br>
              Dubai, United Arab Emirates </p>
        </div>
      </div>    
    </div>
  </div>

</div>

<div class="w-100 float-left mt-4 slideanim">
  <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1465.5400589261637!2d55.144919435350324!3d25.074850014643946!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3e5f6ca921eaf52b%3A0xda2d58522fa75593!2sZaiyna%20Laundry%20%26%20Dry%20Cleaning!5e0!3m2!1sen!2sin!4v1603721701197!5m2!1sen!2sin" width="100%" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>

</div>