<nav>
	<input type="checkbox" id="nav" class="hidden"/>
	<label for="nav" class="nav-open"><i></i><i></i><i></i></label>
	<div class="nav-container">
		<ul>
			<li><a href="/">Home</a></li>
			<li><a href="/about">About us</a></li>
			<li><a href="/services">Services</a></li>
			<li><a href="/price">pricing</a></li>
			<li><a href="#">Covid 19</a></li>
			<li><a href="/faq">Faq</a></li>
			<li><a href="/contact">Contact us</a></li>
		</ul>
	</div>
</nav>