<div class="pricing-header"><div class="bg-overlay"><h2>Wipe your worries away</h2><h3>Price list</h3></div></div>
<div class="container">
  <div class="pricing-page">
    <div class="table-responsive slideanim">
      <table class="table table-hover">
        <thead class="thead-light">
          <tr> <th class="text-left">Gents Apparel</th> <th>Steam Press</th>  <th>Laundry</th> <th>Dry Clean</th></tr>
          <tr><td class="text-left">2 Piece Suit</td><td>18</td><td>25</td><td>32</td></tr>
          <tr><td class="text-left">Jacket / Blazer / Coat</td><td>12</td><td>16</td><td>22</td></tr>
          <tr><td class="text-left">Kandura / Dishdasha / Thawb</td><td>7</td><td>11</td><td>12</td></tr>
          <tr><td class="text-left">Sweater / Pullover</td><td>8</td><td>11</td><td>12</td></tr>
        </thead>
      </table>    
    </div>

    <div class="table-responsive slideanim">
      <table class="table table-hover">
        <thead class="thead-light">
          <tr> <th class="text-left">Ladies Apparel</th> <th>Steam Press</th>  <th>Laundry</th> <th>Dry Clean</th></tr>
          <tr><td class="text-left">Kurta / Top / Blouse</td><td>4</td><td>7.5</td><td>10</td></tr>
          <tr><td class="text-left">Dress Regular / Abaya</td><td>10</td><td>16</td><td>20</td></tr>
          <tr><td class="text-left">Scarf / Dupatta</td><td>5</td><td>7</td><td>9</td></tr>
          <tr><td class="text-left">Jacket / Blazer / Coat</td><td>10</td><td>15</td><td>20</td></tr>
        </thead>
      </table>    
    </div>

    <div class="table-responsive slideanim">
      <table class="table table-hover">
        <thead class="thead-light">
          <tr> <th class="text-left">General Apparel</th> <th>Steam Press</th>  <th>Laundry</th> <th>Dry Clean</th></tr>
          <tr><td class="text-left">Shirt / T-Shirt</td><td>5</td><td>7</td><td>9</td></tr>
          <tr><td class="text-left">Trouser / Track pants / Jeans</td><td>6</td><td>8</td><td>10</td></tr>
          <tr><td class="text-left">Shorts</td><td>4</td><td>6</td><td>7</td></tr>
        </thead>
      </table>    
    </div>

    <div class="table-responsive slideanim">
      <table class="table table-hover">
        <thead class="thead-light">
          <tr> <th class="text-left">Carpet, Curtain & Bedding Sets</th> <th>Steam Press</th>  <th>Laundry</th> <th>Dry Clean</th></tr>
          <tr><td class="text-left">Bed Sheet (Double)</td><td>8</td><td>12</td><td>14</td></tr>
          <tr><td class="text-left">Blanket / Duvet / Quilt (Double)</td><td>-</td><td>25</td><td>40</td></tr>
          <tr><td class="text-left">Duvet Cover</td><td>12</td><td>16</td><td>22</td></tr>
          <tr><td class="text-left">Curtain Cleaning</td><td colspan="3">AED 18/15/12 Per Square meter</td></tr>
          <tr><td class="text-left">Carpet Cleaning</td><td colspan="3">AED 24/30/35 Per Square meter</td></tr>
          <tr><td class="text-left">Sofa Cleaning</td><td colspan="3">AED 45/65/85 per seat</td></tr>
          <tr><td class="text-left">Mattress Cleaning</td><td colspan="3">AED 120/160/180</td></tr>
        </thead>
      </table>    
    </div>
  </div>
</div>